Repository cyberbotics/webots-snap, pull requests merged in 2021-07, with the labels that each got.

#34 Upgrade to Ubuntu 20.04 and ROS Noetic
  .github/workflows/snap-creation.yml
  snapcraft.yaml
Labels: enhancement, test creation

#36 Revert to Ubuntu 18.04
  .github/workflows/snap-creation.yml
  snapcraft.yaml
Labels: test creation

#37 Remove broken step on release tag even
  .github/workflows/snap-creation.yml
Labels: bug
